USE [master]
GO
/****** Object:  Database [EntityFrameworkCoreSamples]    Script Date: 12/10/2020 6:05:53 AM ******/
CREATE DATABASE [EntityFrameworkCoreSamples]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EntityFrameworkCoreSamples', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\EntityFrameworkCoreSamples.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EntityFrameworkCoreSamples_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\EntityFrameworkCoreSamples_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EntityFrameworkCoreSamples].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EntityFrameworkCoreSamples]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 12/10/2020 6:05:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[Addresses] [nvarchar](max) NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([Id], [FirstName], [LastName], [DateOfBirth], [Addresses]) VALUES (1, N'Karen', N'Payne', CAST(N'1956-09-24T00:00:00.0000000' AS DateTime2), N'[{"Type":"Business","Company":"ABC","Number":"1","Street":"111 Orange Way","City":"Salem"},{"Type":"Home","Company":"ABC","Number":"2","Street":"123 Green Ave","City":"Salem"}]')
SET IDENTITY_INSERT [dbo].[Person] OFF
USE [master]
GO
